<h1>Log In Form</h1>

<form action="/auth/login" method="POST">

  <!--Enter login email-->
  <label for="auth-email">Email</label>
  <input autofocus id="auth-email" type="email" name="email">

  <!--Enter login password-->
  <label for="auth-password">Password</label>
  <input id="auth-password" type="password" name="password">

  <input type="submit" value="Log In">
</form>
