<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Authentication</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="js/main.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <% if (!currentUser) { %>
            <!--no user-->
            <li><a href="/auth/signup">Signup</a></li>
            <li><a href="/auth/login">Login</a></li>
          <% } else { %>
            <!--user is logged in-->
            <li><a href="/snippets">Search</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            <% } %>
        </ul>
      </nav>
    </header>
    <%- include("partials/alerts") %>
    <%- body %>
  </body>
</html>
