<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Authentication</title>
    
    <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-dark">
        <ul>
          <% if (!currentUser) { %>
            <!--no user-->
            <li>
              <a href="/auth/signup">Signup</a>
              <i class="fa fa-user" aria-hidden="true"></i>   
            </li>
              
            <li>
              <a href="/">Login</a>
              <i class="fa fa-sign-in" aria-hidden="true"></i>
            </li>
          
          <% } else if(currentUser) { %>
            <!--user is logged in-->
           
            <li>
              <a href="/snippets">Snippets</a>
              <i class="fa fa-university" aria-hidden="true"></i>

            </li>
            <li>
              <a href="/auth/logout">Logout</a>
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              <div class="float-right"> 
                <%=currentUser.email%>
              </div> 
            </li>
          
           
          <% } %>
          
          
        </ul>
        
      </nav>
      
    </header>
    <%- include ("partials/alerts") %>
    <%- body %>
  </body>
</html>
