* {
  font-family: sans-serif;
  
}
/* changes the bootstrap into custom css */
body{
  background:blanchedalmond !important;
  background-image: url('../image/snippet.png') !important;
}
nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}
.fa-sign-in {
  color: blanchedalmond;
}

.fa-user{
  color: blanchedalmond;
}

.fa-university{
  color: blanchedalmond;
}

.fa-sign-out{
  color: blanchedalmond;
}
.contain-loginSignin{
  margin: auto;
  width: 50%;
  border: solid;
  border-radius: 80px;
  margin-top: 50px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color : lightslategrey;
  opacity: 90%;
}

.submitto{
  margin-bottom: 10px !important;
}

.navbar{
  padding-top: 20px;
  padding-bottom: -60px;

}

.float-right{
  color: #007BFF; 
  margin-left: 30px;
  width: 50%;
}

.new-create{
border: solid;
width: 50%;
margin: auto;
margin-top: 40px;
border-radius: 20px;
background-color : lightslategrey;
opacity: 90%;
} 

.create-tag{
  margin: auto ;
  width: 50%;
  margin-bottom: 10px;
  
}

.memo{
  font-style: italic;
  font-weight: 400;
}


/* views/snippets/INDEX.EJS (heading row) */

.cont-headingRow > *:not(:first-child) {
  margin-left: 1rem;
}
/* making the h2 of index.ejs center */
.cont-headingRow{
  margin: auto;
  width: 50%;
}

.head-index{
  padding-top: 5px;
  margin-left: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* views/snippets/INDEX.EJS (css grid) */
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  background-color: darkgray;
  padding: 0.7rem;
  border-radius: 1rem;
  text-align: center;
  margin: auto;
  width: 90%;
}

.landing{
    margin: auto;
    width: 50%;
    background-color : lightslategrey;
    opacity: 0.98;
    padding: 10px;
    margin-top: 50px;
    border-radius: 80px;
}



.snippet {
  background-color: rgb(247, 247, 247);
  padding: 8px;
  border-radius: 1rem;
}

.edit-home{
  margin: auto;
  width: 50%;
}

.trans {
  opacity: 0.5;
}

.green {
  color: green;
  font-weight: 900;
  background-color: rgb(179, 255, 172);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.orange {
  color: rgb(255, 68, 0);
  font-weight: 600;
}

.onShift {
  color: purple;
  font-weight: 900;
}

.shiftBracket {
  color: purple;
  font-weight: 900;
  font-size: 12px;
}

.red {
  color: red;
}

.redBg {
  color: red;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}