<!--main search page!-->

<!--heading row-->
<div style="cont-index-headingRow">
    <!--heading-->
    <h2>SNIPPETS</h2>
    
    <!--create button-->
    <form method="GET" action="/snippets/new">
        <button>+ create</button>
    </form>
    
    <!--email-->
    <p>test@test.com</p>
</div>

<!--css grid:  will contain snippets-->
<!-- <div class="wrapper">

</div> -->
