<!--main search page!-->

<div class="container">
    <!--heading row-->
    <div class="cont-headingRow">
        <!--heading-->
        <h2>SNIPPETS</h2>
        
        <!--create button-->
        <form method="GET" action="/snippets/new">
            <button class="btn btn-success">+ create</button>
        </form>
        
        <!--email-->
        <p>test@test.com</p>
    </div>

    <!--css grid:  will contain searchable snippets-->
    <div class="wrapper">
        <div class="snippet">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae deleniti eius vitae eum eligendi nesciunt tempora nostrum assumenda quam veniam tempore culpa impedit, eaque cupiditate quis delectus labore hic atque?</div>

        <div class="snippet" style="order: -1">Ipsum quo in minus, laboriosam quis, tempora commodi ea animi ratione sint laborum cumque aliquam, tempore libero corporis doloremque rem quia magnam officia quaerat ducimus accusantium totam. Quibusdam, dolor voluptatem!Ipsum quo in minus, laboriosam quis, tempora commodi ea animi ratione sint laborum cumque aliquam, tempore libero corporis doloremque rem quia magnam officia quaerat ducimus accusantium totam. Quibusdam, dolor voluptatem! Ipsum quo in minus, laboriosam quis, tempora commodi ea animi ratione sint laborum cumque aliquam, tempore libero corporis doloremque rem quia magnam officia quaerat ducimus accusantium totam. Quibusdam, dolor voluptatem!Ipsum quo in minus, laboriosam quis, tempora commodi ea animi ratione sint laborum cumque aliquam, tempore libero corporis doloremque rem quia magnam officia quaerat ducimus accusantium totam. Quibusdam, dolor voluptatem!</div>
    </div>
</div>
