<h1>Create a Snippet!</h1>

<form action="/snippets" method="POST">

    <!--enter a tag for new snippet-->
    <label for="tag">tag</label>
    <input autofocus id="tag" type="text" name="newTag">

    <!--enter a value for new snippet-->
    <label for="value">value</label>
    <input id="value" type="text" name="newValue">
  
    <input type="submit" value="submit">

  </form>