<div class="container fluid new-create">

<form method="POST" action="/snippets">

  <h2 class="heading">CREATE SNIPPET</h2>

    <!--Enter a new value-->
    <div class="form-group">
      <label for="value">Value:</label>
      <textarea name="newValue" id="value" type="text" class="form-control"" autofocus></textarea>
    </div>

    <!--Enter new tag(s)-->
    <div class="form-group">
      <label for="tag">Tag(s):</label>
      <textarea name="newTag" id="tag" type="text" class="form-control";"></textarea>
    </div>

    <!--Cancel & Create buttons-->
    <a href="/snippets" class="btn submitto">Cancel</a>
    <input value="Create it!" type="submit" class="btn btn-success submitto marL">
</form>