<div class = 'container fluid new-create'>
<form action="/snippets" method="POST">
  <div class="form-group">
    <label for="tag">tag</label>
    <input id="tag" type="text" class="form-control" name="newTag">
  </div>
  <div class="form-group">
    <label for="value">value</label>
    <input id="value" type="text" class="form-control" name="newValue">
  </div>

  
    <input type="submit" class="btn btn-primary submitto" value="submit">

  </form>